/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary: #FF003C;
  --secondary: #87FF99;
  --padding: 15px;
  --tertiary : #5E0010;
  --light-grey: #EEE9E9;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
}

.container {
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
}
